/*
 * Import nib
 */
@import 'nib'


/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

body
  background-color background-color
  color #444
  font-family: "Monaco", "Helvetica", "Times New Roman"

header
  //color #fff
  //text-align center
  margin-bottom 20px

  h1
    font-size 50px
    margin-bottom 10px

  span
    font-size 15px
  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  //background-color main-color
  //border-bottom 1px solid darken(main-color, 30%)
  //text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width 800px
  height auto
  margin 50px auto
  overflow hidden

.main-content
  height 800px
  padding-top 50px

  p
    margin-bottom 20px
 
  .title
    margin-bottom 50px
    font-size 40px 

  span.view_type
  span.platform
  span.genre
    font-size 28px
    margin-right 10px

  span.platform:hover
  span.genre:hover
    color red

  span.view_type
    margin-left 100px

  .viewtype
    margin-bottom 20px


  p.clear
    clear both
  
  #box
  #d3box
    width 1000px
    height 800px

  #map-canvas
  #d3-canvas
    margin-top 10px
    height 800px
    width 1000px

rect 
  fill-opacity .6
  fill #e377c2

.line
  fill none;
  stroke #000;
  stroke-width 2px;

.axis
  shape-rendering crispEdges
  line
    stroke #f00
  text
    font-size 10px
  path
    display none

.footer
    float left
    height 100px
 
p
  line-height 1.8

