doctype html
html(ng-app='kkbox-vis', lang="zh-TW")
  head
    title VisualizationDemo
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='app.css')
  body
    .container-fluid.main-content(ng-controller="KKBOXCtrl")
      .row-fluid
        .span11.offset4
          .title Visualization Demo
      .row-fluid
        .span11.offset2
          .viewtype
            span.view_type 我要看
            span.platform(ng-click="click_viewtype('platform')") 平台分析圖表
            span.genre(ng-click="click_viewtype('genre')") 歌曲類型分析圖表
            span.age(ng-click="click_viewtype('age')") 用戶年齡分析圖表

      .row-fluid#figure
        .span12
          #d3box(style="height:4000px; width:2000px;")
            #d3-canvas(style="height:4000px; width:2000px")
      p.clear
    .footer
  script(src='lib/jquery/dist/jquery.js', type='text/javascript')
  script(src='lib/bootstrap/dist/js/bootstrap.js', type='text/javascript')
  script(src='lib/angular/angular.js', type='text/javascript')
  script(src='lib/angular-resource/angular-resource.js', type='text/javascript')
  script(src='lib/angular-route/angular-route.js', type='text/javascript')
  script(src='lib/angular-animate/angular-animate.js', type='text/javascript')
  script(src='lib/d3/d3.js', type='text/javascript')
  script(src='js/app.js', type='text/javascript')
 
 
